<section id="first" class="content-section text-center first">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <%= form_for @tournament, class: "form-group" do |f| %>
          <div class="form-group">
            <%= f.label 'Tournament Name', class: ''%><br>
            <%= f.text_field :name %>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect2">Select Segments</label>

            <%= select_tag "segments", options_from_collection_for_select(@segments, "id", "name"), multiple: true, class: "segment-select" %>
          </div>

            <%= f.submit "Create Tournament", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
