<section id="tournament" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h3><%= @tournament_presenter.tournament.name %></h3>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class='thead-dark'>
              <tr>
                <th scope="col"></th>
                <% @tournament_presenter.segments.each do |segment| %>
                  <th scope="col"><%= segment.name %></th>
                <% end %>
              </tr>
            </thead>
            <thead class='kom_times'>
              <tr>
                <th scope="col">Best Overall</th>
                <% @tournament_presenter.kom_times.each do |time| %>
                  <th scope="col"><%= time %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @tournament_presenter.active_users.each do |user| %>
                <tr>
                  <th scope="row"> <%= user.name %> </th>
                    <% @tournament_presenter.segments.each do |segment| %>
                      <td> <%= @tournament_presenter.segment_ranking(user, segment) %> </td>
                    <% end %>
                  <% end %>
                </tr>
              <% @tournament_presenter.pending_users.each do |user| %>
                <tr>
                  <th scope="row"> <%= user.email %> (pending invite)</th>
                  <% @tournament_presenter.segments.each do |segment| %>
                    <td> - </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= button_to 'Refresh Times', user_segment_path, method: :put, class: 'btn btn-primary'%>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container text-center">
  <div class="row">
    <div class="col-lg-4 mx-auto">
      <div>
        <%= form_tag(new_user_tournament_path, class: "form-group") do %>
        <%= text_field_tag :invite_email, nil, class: 'form-control', placeholder: "Enter email" %>

        <%= hidden_field_tag 'tournament_id', "#{@tournament_presenter.tournament.id}" %>
        <%= submit_tag "Invite New Athlete", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
