<!-- <%= @tournament.name %>

<h2>Segments tracked</h2>

<% @tournament.segments.each do |segment| %>
  <%= segment.name %>
<% end %>

<h2>Participants</h2>

<% @tournament.users.each do |user| %>
  <%= user.name %>
<% end %> -->


<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h3><%= @tournament.name %></h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <% @tournament.segments.each do |segment| %>
                <th scope="col"><%= segment.name %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @user_data.each do |key, value| %>
              <tr>
                <th scope="row"><%= key.name %></th>
                <% value.each do |key, value| %>
                  <th scope="row"><%= value %></th>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
