<section id="first" class="content-section text-center first segment-horizontal">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h3><%= @tournament_presenter.tournament.name %></h3>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class='thead-dark'>
              <tr>
                <th scope="col"><button class='btn btn-outline-success' onclick="transpose()" id="transpose"><i class="fas fa-exchange-alt"></i> Transpose</button></th>
                <th scope="col">Total</th>
                <% @tournament_presenter.segments_alphabetically.each do |segment| %>
                  <th scope="col"><%= segment.name %> <%= link_to raw('<i class="far fa-trash-alt edit"></i>'), tournament_segment_path(segment, tournament_id: @tournament_presenter.tournament), method: :delete, data: { confirm: "Are you sure you want to remove #{segment.name} from this tour?"} %></th>
                <% end %>
              </tr>
            </thead>
            <thead class='kom_times'>
              <tr>
                <th scope="col">Best Overall</th>
                <th scope="col"> <%= @tournament_presenter.segments_alphabetically.count %> </th>
                <% @tournament_presenter.kom_times.each do |time| %>
                  <th scope="col"><%= time %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @tournament_presenter.user_rank.each do |user| %>
                <tr>
                  <th scope="row"> <%= user.name %> <%= link_to raw('<i class="far fa-trash-alt edit"></i>'), user_tournament_path(user, tournament: @tournament_presenter.tournament.id), method: :delete, data: { confirm: "Are you sure you want to remove #{user.name} from this tour?"} %></th>
                  <td><%= @tournament_presenter.total_user_performance_score(user) %></td>
                    <% @tournament_presenter.user_times_and_scores(user).each do |user_time_and_score| %>
                      <td> <%= user_time_and_score[0] %><br> <small><%= user_time_and_score[1] %></small> </td>
                    <% end %>
                </tr>
              <% end %>
              <% @tournament_presenter.pending_users.each do |user| %>
                <tr>
                  <th scope="row"> <%= user.email %> (pending invite) <%= link_to raw('<i class="far fa-trash-alt edit"></i>'), user_tournament_path(user, tournament: @tournament_presenter.tournament.id), method: :delete, data: { confirm: "Are you sure you want to remove #{user.email} from this tour?"} %></th>
                  <td> - </td>
                  <% @tournament_presenter.segments_alphabetically.each do |segment| %>
                    <td> - </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="row justify-content-md-center">
            <div class="col-4 edit">
              <div>
                <%= form_tag(new_user_tournament_path, class: "form-group") do %>
                  <%= text_field_tag :invite_email, nil, class: 'form-control', placeholder: "Enter email" %>

                  <%= hidden_field_tag 'tournament_id', "#{@tournament_presenter.tournament.id}" %>
                <%= submit_tag "Challenge Athlete", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
            <div class="col-4 edit">
              <%= form_tag(new_tournament_segment_path, method: :get, class: "form-group") do %>
                <%= select_tag "segment_id", options_from_collection_for_select(@tournament_presenter.all_other_segments, "id", "name"), class: 'form-control' %>

                <%= hidden_field_tag 'tournament_id', "#{@tournament_presenter.tournament.id}" %>
                <%= submit_tag "Add Segment", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
          <button class='btn btn-primary' onclick="tableToggle()" id="tableToggle">Edit Tour</button>
          <%= button_to 'Refresh Times', user_segment_path, method: :put, class: 'btn btn-primary'%>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="first" class="content-section text-center first athlete-horizontal">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h3><%= @tournament_presenter.tournament.name %></h3>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class='thead-dark'>
              <tr>
                <th scope="col"><button class='btn btn-outline-success' onclick="transpose()" id="transpose"><i class="fas fa-exchange-alt"></i> Transpose</button></th>
                <th scope="col">Best Overall</th>
                <% @tournament_presenter.user_rank.each do |user| %>
                  <th scope="col"><%= user.name %> <%= link_to raw('<i class="far fa-trash-alt edit"></i>'), user_tournament_path(user, tournament: @tournament_presenter.tournament.id), method: :delete, data: { confirm: "Are you sure you want to remove #{user.name} from this tour?"} %></th>
                <% end %>
                <% @tournament_presenter.pending_users.each do |user| %>
                  <th scope="col">
                    <%= user.email %> <%= link_to raw('<i class="far fa-trash-alt edit"></i>'), user_tournament_path(user, tournament: @tournament_presenter.tournament.id), method: :delete, data: { confirm: "Are you sure you want to remove #{user.name} from this tour?"} %>
                  </th>
                <% end %>
              </tr>
            </thead>
            <thead class='kom_times'>
              <tr>
                <th scope="col">Total</th>
                <th scope="col"> <%= @tournament_presenter.segments_alphabetically.count %> </th>
                <% @tournament_presenter.user_rank_scores.each do |score| %>
                  <th scope="col"><%= score %></th>
                <% end %>
                <% @tournament_presenter.pending_users.each do |user| %>
                  <th scope="col">
                  </th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @tournament_presenter.segments_alphabetically.each do |segment| %>
                <tr>
                  <td scope="row"> <%= segment.name %> <%= link_to raw('<i class="far fa-trash-alt edit"></i>'), tournament_segment_path(segment, tournament_id: @tournament_presenter.tournament), method: :delete, data: { confirm: "Are you sure you want to remove #{segment.name} from this tour?"} %></td>
                  <td><%= @tournament_presenter.kom_time(segment) %></td>
                  <% @tournament_presenter.segment_times_and_scores(segment).each do |time_score| %>
                    <td>
                      <%= time_score[0] %> <small><%= time_score[1] %></small>
                    </td>
                  <% end %>
                  <% @tournament_presenter.pending_users.each do |user| %>
                  <td>
                    <p> - </p>
                  </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="row justify-content-md-center">
            <div class="col-4 edit">
              <div>
                <%= form_tag(new_user_tournament_path, class: "form-group") do %>
                  <%= text_field_tag :invite_email, nil, class: 'form-control', placeholder: "Enter email" %>

                  <%= hidden_field_tag 'tournament_id', "#{@tournament_presenter.tournament.id}" %>
                <%= submit_tag "Challenge Athlete", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
            <div class="col-4 edit">
              <%= form_tag(new_tournament_segment_path, method: :get, class: "form-group") do %>
                <%= select_tag "segment_id", options_from_collection_for_select(@tournament_presenter.all_other_segments, "id", "name"), class: 'form-control' %>

                <%= hidden_field_tag 'tournament_id', "#{@tournament_presenter.tournament.id}" %>
                <%= submit_tag "Add Segment", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
          <button class='btn btn-primary' onclick="tableToggle()" id="tableToggle">Edit Tour</button>
          <%= button_to 'Refresh Times', user_segment_path, method: :put, class: 'btn btn-primary'%>
        </div>
      </div>
    </div>
  </div>
</section>
