<div class='segment_add'>
  <%= form_for @segment, class: "form-inline" do |f| %>
    <div class="">
      <%= f.text_field :id, class: "" %>
      <%= f.submit "Add Segment", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<section class="content-section text-center">
  <div class="col-lg-8 mx-auto">
    <h3>Segments</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Stava Link</th>
          <th scope="col">Number of Attempts</th>
          <th scope="col">Elevation Gain</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @segments.each do |segment| %>
          <tr class="segment-<%= segment.id %>">
            <th scope="row"> <%= segment.name %></th>
            <td><a href="https://www.strava.com/segments/<%= segment.id %>">View on Strava</a></td>
            <td><%= segment.athlete_attempts %></td>
            <td><%= segment.total_elevation_gain %></td>
            <td><%= link_to 'Delete', segment_path(segment), method: :delete, data: { confirm: "Are you sure? You will permanently delete this segment."} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
