<!DOCTYPE html>
<html>
  <head>
    <title>Stravaelo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <!-- MapBox GL -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />

  </head>

  <body id="page-top">

    <% if current_page?(root_path) %>
      <%= render partial: 'layouts/home_nav' %>
    <% else %>
      <%= render partial: 'layouts/sitewide_nav' %>
    <% end %>

    <header class="masthead">
      <div class="vcenter">
        <h1>Stravelo</h1>
        <a href="#first" class="btn btn-circle js-scroll-trigger">
          <i class="fa fa-angle-double-down animated"></i>
        </a>
      </div>
    </header>

    <div class="alert-<%= flash.keys[0]%>">
      <% flash.each do |key, value| %>
        <div class=" <%= flash_class(key) %> ">
          <%= value.html_safe %>
        </div>
      <% end %>
    </div>

    <%= yield %>

    <footer>
      <div class="container text-center">
        <p>Copyright &copy; straVELO 2018</p>
      </div>
    </footer>

    <%= javascript_include_tag 'application' %>
    <script>$('#segments').multiSelect()</script>
  </body>
</html>
