<!DOCTYPE html>
<html>
  <head>
    <title>Stravaelo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>

    <%= render partial: 'layouts/nav' %>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
